---

---
<div>
      <button class="group font-dmsans flex items-center p-2 border-3 border-sekundary-500 text-sekundary-500 text-2xl hover:bg-sekundary-500 hover:text-sekunary-300"><slot />
        <img src="/src/assets/images/Check.png" width="30" class="block group-hover:hidden"> 
        <img src="/src/assets/images/Check2.png" width="30" class="hidden group-hover:block"></button>
</div>