---
---
<div>
    <button class="font-dmsans flex items-center bg-primary-500 text-primary-300 p-2 text-lg lg:text-2xl hover:text-xl lg:hover:text-3xl hover:duration-300 ease-in-out cursor-pointer gap-2"><slot /><img src="/src/assets/images/Arrow.png" width="30"></button>
</div>