---
---
<section class="pt-20 bg-primary-300">
    <div class="relative z-20 -mb-15 flex justify-center"><img src="/src/assets/images/kigned.png" width="800"/></div>
</section>
<section class="bg-primary-500">
<div class="flex justify-center gap-10 p-20 pb-10 pt-40">
    <img src="/src/assets/images/phone.png" width="50"/>
       <img src="/src/assets/images/github.png" width="50"/>
          <img src="/src/assets/images/mail.png" width="50"/>
             <img src="/src/assets/images/insta.png" width="50"/>
</div>
<div class="flex text-2xl font-dmsans text-primary-300 justify-center pb-40"><p>Lad os tage en snak, hvis du tror, jeg kunne være et match til dit projekt eller din virksomhed!</p></div>
</section>
  