---
---
<section class="fixed top-0 left-0 w-full z-100 -mb-30 bg-primary-500">
<header class="flex items-center justify-between px-20 py-4">
    <a href="#hjem"><img src="/src/assets/images/logo.png" width="70" alt="Logo" class="cursor-pointer"></a>


<nav>
<ul class="flex lg:gap-20 text-primary-300 font-dmsans text-lg">
<li><a href="#hjem">hjem</a></li>
<li><a href="#om-mig">om mig</a></li>
<li><a href="#erfaring">erfaring</a></li>
<li><a href="#kontakt">kontakt</a></li>
</ul>
</nav>


</header>
</section>
