---
---
<section class="relative z-100 -mb-30">
<header class="flex items-center justify-between px-6 py-4">
    <img src="/src/assets/images/logo.png" width="70" alt="Logo">

    
<nav>
<ul class="flex gap-20 text-primary-300 font-dmsans text-lg">
<li><a href="/">hjem</a></li>
<li><a href="/about">om mig</a></li>
<li><a href="/experience">erfaring</a></li>
<li><a href="/contact">kontakt</a></li>
</ul>
</nav>


</header>
</section>
