---
---

<section class="w-[500px] h-[400px] bg-sekundary-500">
    <div class="p-5">
    <h1 class="font-anton text-5xl text-sekunary-300 mb-10">Sprogfærdigheder</h1>
    <ul class="space-y-2 font-dmsans text-3xl text-sekunary-300">
        <li>
            <h2 class="text-3xl font-anton">Dansk</h2> (modersmål)</li>
        <li>
            <h2 class="text-3xl font-anton">Engelsk </h2>(flydende)</li>
        <li> 
            <h2 class="text-3xl font-anton"> Tysk </h2>(grundlæggende)</li>
    </ul>
    </div>
</section>